{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block extrahead %}
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    {{ block.super }}

    

{% endblock %}



{% block breadcrumbs %}
    {{ block.super }}

    <div class="breadcrumbs">
        <a style="margin:20px" href="../cashpayment/"><i class="fas fa-money-bill-alt"></i> پرداخت ها </a>
        <a style="margin:20px" href="../fundpayment/"><i class="far fa-credit-card"></i> تنخواه ها </a>
        <a style="margin:20px" href="../checkpayment/"><i class="fas fa-money-check"></i> چک ها </a>
        <a style="margin:20px" href="../sales/"> <i class="fas fa-shopping-cart"></i> فروش ها </a>
        <a style="margin:20px" href="../../AmadoAccounting/"> <i class="fas fa-user-circle"></i> حسابداری </a>
        <a style="margin:20px" href="../../AmadoAccounting/salarydetail/"> <i class="fas fa-user-circle"></i> حقوق ها </a>
    </div>

{% endblock %}

