{% extends "admin/change_form.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{{ block.super }}

    <script>
    $(document).ready(function () {

        if ($("#id_payment_type").val() !='help')
            $("div.field-payment_date").hide()

        $("#id_payment_type").change(function (event) {
            if ($(this).val()=='help'){
                $("div.field-payment_date").show()
            }
            else{
                $("div.field-payment_date").hide()
            }
        })

    })
    </script>



{% endblock %}
