{% extends "admin/change_form.html" %}
{% load i18n admin_static %}

{% block extrahead %}
{{ block.super }}

    <script>
    $(document).ready(function () {

        if (window.location.href.includes('/add/')){



            {% for p in persons %}
                $("#id_workdetail_set-{{ forloop.counter0 }}-work_status").prepend('<option value="" selected="">---------</option>')
                $("#id_workdetail_set-{{ forloop.counter0 }}-person").append('<option value="{{ p.id }}">{{ p }}</option>')


                $("#select2-id_workdetail_set-{{ forloop.counter0 }}-person").attr('title','{{ p }}')
                $("#select2-id_workdetail_set-{{ forloop.counter0 }}-person").html('{{ p }}')
            {% endfor %}
        }

    })
    </script>


{% endblock %}
