{% extends "admin/change_form.html" %}
{% load i18n admin_static %}

{% block extrahead %}
{{ block.super }}

<!--<script type="text/javascript" src="/AmadoWHApp/static/admin/jquery.ui.datepicker.jalali/scripts/jquery-1.10.2.min.js"></script>-->
<!--    <script type="text/javascript" src="/AmadoWHApp/static/admin/jquery.ui.datepicker.jalali/scripts/jquery.ui.core.js"></script>-->
<!--    <script type="text/javascript" src="/AmadoWHApp/static/admin/jquery.ui.datepicker.jalali/scripts/jquery.ui.datepicker-cc.js"></script>-->
<!--    <script type="text/javascript" src="/AmadoWHApp/static/admin/jquery.ui.datepicker.jalali/scripts/calendar.js"></script>-->
<!--    <script type="text/javascript" src="/AmadoWHApp/static/admin/jquery.ui.datepicker.jalali/scripts/jquery.ui.datepicker-cc-fa.js"></script>-->
<!--    <link href="/AmadoWHApp/static/admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css" type="text/css" media="all" rel="stylesheet" />-->
<!--    <link href="/AmadoWHApp/static/admin/css/main.css" type="text/css" media="all" rel="stylesheet" />-->
<!--    <link href="/AmadoWHApp/static/admin/css/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet" />-->
    <script>
    $(document).ready(function () {

        if (window.location.href.includes('/add/')){


            {% for p in products %}
                $("#id_foodsaleproduct_set-{{ forloop.counter0 }}-product").append('<option value="{{ p.id }}">{{ p.name }}</option>')


                $("#select2-id_foodsaleproduct_set-{{ forloop.counter0 }}-product-container").attr('title','{{ p.name }}')
                $("#select2-id_foodsaleproduct_set-{{ forloop.counter0 }}-product-container").html('{{ p.name }}')
            {% endfor %}
        }

    })
    </script>


{% endblock %}
